{% extends 'ejemplo/base.html' %}     # Hereda de base.html

{% block titulo%} <h2>Alta de nuevo Familiar</h2> {% endblock %}
{% block contenido %}
  
  <form action="/mi-familia/alta" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <br>
    <input type="submit" value="Submit">
  </form>

  <h2 style="color:green">{{msg_exito}}</h2>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Para regresar a Lista de Familiares, hacer click&nbsp;&nbsp;&nbsp;<a href="/mi-familia/">aqui</a>  </b>
{% endblock %}

<!--
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Para ingresar un nuevo Familiar, hacer click&nbsp;&nbsp;&nbsp;<a href="/mi-familia/alta">aqui</a>  </b>
    <ul>
    {% for familiar in lista_familiares %}
        <li> 
            <b>Id:</b>&nbsp;{{familiar.id}},&nbsp;&nbsp; <b>Nombre:</b>&nbsp; {{familiar.nombre}},&nbsp;&nbsp;<b>Dirección:</b>&nbsp; {{familiar.direccion}},&nbsp;&nbsp; <b>Pasaporte:</b>&nbsp; {{familiar.numero_pasaporte}}
            <a href='/mi-familia/actualizar/{{ familiar.id }}'>Actualizar</a>
            <a href='/mi-familia/borrar/{{ familiar.id }}'>Borrar</a>
        </li>
    {% endfor %}
    </ul>
-->>