{% extends 'ejemplo/base.html' %}     # Hereda de base.html

{% block titulo%} <h2>Alta de nuevo Familiar</h2> {% endblock %}
{% block contenido %}
  
  <form action="/mi-familia/alta" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <br>
    <input type="submit" value="Submit">
  </form>

  <h2 style="color:green">{{msg_exito}}</h2>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Para regresar a Lista de Familiares, hacer click&nbsp;&nbsp;&nbsp;<a href="/mi-familia/">aqui</a>  </b>
{% endblock %}
