{% extends 'ejemplo/base.html' %}
{% block titulo%} <h2>Modificar un Amigo</h2> {% endblock %}

{% block contenido %}
    <form action="/mis-amigos/actualizar/{{ amigos.id }}" method="post"> 
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <input type="submit" value="Actualizar">

    <h2 style="color:green">{{msg_exito}} </h2>
    </form>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Para regresar a Lista de Amigos, hacer click&nbsp;&nbsp;&nbsp;<a href="/mis-amigos/">aqui</a>  </b>

    {% endblock %}