{% extends 'ejemplo/base.html' %}
{% block titulo%}
 <h2>Buscar Auto por Marca</h2>
{% endblock %}   ### DEFINE CONTENIDO DEL titulo

{% block contenido %}
<br>
  <!-- DEFINE EL FORMULARIO --> 
  <form action="/mis-autos/buscar_auto" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
  </form>
                               <!-- REALIZA LA ITERACION DE LOS DATOS --> 
  {% for auto in lista_autos %}
      <ul>
        <h4 style="color:green">
          <li> Id: {{auto.id}}, Marca: {{auto.marca}}, Origen: {{auto.origen}}, Ano: {{auto.ano}}, Valor: {{auto.valor}}</li>
        </h4>
      </ul>
  {% endfor %}
  <br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Para regresar a Lista de Autos, hacer click&nbsp;&nbsp;&nbsp;<a href="/mis-autos/">aqui</a>  </b>
{% endblock %}
