{% extends 'ejemplo/base.html' %}
{% block titulo%}
 <h2>Buscar Amigos por Nombre</h2>
{% endblock %}   ### DEFINE CONTENIDO DEL titulo

{% block contenido %}
<br>
  <!-- DEFINE EL FORMULARIO --> 
  <form action="/mis-amigos/buscar_amigos" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
  </form>
                               <!-- REALIZA LA ITERACION DE LOS DATOS --> 
  {% for amigo in lista_amigos %}
      <ul>
        <h4 style="color:green">
          <li> Id: {{amigo.id}}, Nombre: {{amigo.nombre}}, Dirección: {{amigo.direccion}}, Edad: {{amigo.edad}}, Pais: {{amigo.pais}}</li>
        </h4>
      </ul>
  {% endfor %}
  <br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Para regresar a Lista de Familiares, hacer click&nbsp;&nbsp;&nbsp;<a href="/mis-amigos/">aqui</a>  </b>
{% endblock %}
